@media screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }
    #homepage section .message{
        transform: translateY(-5rem)
    }
    #homepage section .message .container .big {
        font-size: 5rem;
    }

    #homepage section .message .container .small {
        font-size: 1.6em;
    }

    #homepage section .message .container .smaller a {
        font-size: 1rem;
    }


}

@media screen and (max-width: 1100px) {
    html {
        font-size: 13px;
    }

    #homepage section .message img {
        transform: translate(0, 10rem) scale(.8)
    }

    #homepage section .message .container .big {
        font-size: 6rem;
    }

    #homepage section .message .container .small {
        font-size: 1.8rem;
    }

    #homepage section .message .container .smaller a {
        font-size: 1rem;
    }

    #homepage section .message .container {
        transform: translateY(50px);
    }

    #homepage header .navigation,
    #homepage header .logo {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 12px;
    }

    #homepage section .message .container .big {
        font-size: 6rem;
    }

    #homepage section .message .container .small {
        font-size: 1.8rem;
    }

    #homepage section .message .container .smaller a {
        font-size: 1rem;
    }

    #homepage section .message .container {
        transform: translateY(50px);
    }

    #homepage header .navigation,
    #homepage header .logo {
        font-size: 1.1rem;
    }

    #projects section .project-content .proj1 .title {
        font-size: 2.3rem;
    }

    #projects section .project-content .proj1 .subtitle {
        font-size: 1.2rem;
    }

    #projects section .project-image {
        transform: scale(.8);
    }

    #projects section .project-content .proj1 .subtitle .modal .checkLabel {
        font-size: 1rem;
    }

}

@media screen and (max-width: 900px) {
    html {
        font-size: 11px;
    }
    #homepage section .message{
        transform: translateY(-6rem)
    }


    #homepage section .message img {
        transform: translate(0px, 15rem) scale(.8)
    }

    #homepage section .message .container .big {
        font-size: 5rem;
        margin-bottom: 3rem;
    }

    #homepage section .message .container .small {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 2.3rem;
    }

    #homepage section .message .container .smaller a {
        font-size: 1rem;
    }

    #homepage header .navigation,
    #homepage header .logo {
        font-size: 1.5rem;
    }
    #contacts .goodbyes .message{
        font-size: 7rem;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 10px;
    }

    #projects section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 0;
    }

    #projects section .project-content {
        order: 2;

    }

    #projects section .project-content .proj1 .title {
        font-size: 4rem;
    }

    #projects section .project-content .proj1 .subtitle {
        font-size: 1.5rem;
    }

    #projects section .project-image {
        transform: scale(.8);
    }

    #projects section .project-content .proj1 .subtitle .modal .checkLabel {
        font-size: 1rem;
    }

    #about section {
        padding: 30rem 0;
    }

    #about section .info .info-label{
        font-size: 1.3rem;
    }

    #contacts .goodbyes .message{
        font-size: 8.5rem;
    }

}

@media screen and (max-width: 700px) {
    html {
        font-size: 9px;
    }

    #projects section {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    #projects section .project-content {
        order: 2;

    }

    #projects section .project-content .proj1 .title {
        font-size: 4rem;
    }

    #projects section .project-content .proj1 .subtitle {
        font-size: 1.5rem;
    }

    #projects section .project-image {
        transform: scale(.8);
    }

    #projects section .project-content .proj1 .subtitle .modal .checkLabel {
        font-size: 1rem;
    }

    #about section {
        padding: 20rem 0;
        flex-direction: column;
        align-items: center;
    }
#about section .label{
    transform: translateY(-4rem);
}
    #about section .info .info-label{
        font-size: 1.3rem;
    }

    #contacts .goodbyes .message{
        font-size: 8.5rem;
    }
    #contacts {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    #homepage section .message{
        transform: translateY(-4rem)
    }
    #homepage section .message img {
        display: none;
    }
    #homepage section .message .container .big {
        font-size: 5rem;
        margin-bottom: 3rem;
    }

    #homepage section .message .container .small {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 2.3rem;
    }

    #homepage section .message .container .smaller a {
        font-size: 1rem;
    } 
    #projects section .project-image {
        transform: scale(.7);
    }  
}
@media screen and (max-width: 600px){
    #homepage section .message{
        float: none;
    }
    #projects section .project-image {
        transform: scale(.5);
    } 
    
}
@media screen and (max-width: 400px){
#homepage header .navigation{
    font-size: 1.3rem;
}
    #homepage section .message{
        transform: translate(5rem, -7rem);
    }
    #homepage section .message .container .big {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    #homepage section .message .container .small {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        line-height: 2.3rem;
    }

    #homepage section .message .container .smaller a {
        font-size: .8rem;
    }
}